<div [formGroup]="form">
  <br>
  <div class="input-container">
  <i class="fa fa-key icon"></i>
  <input formControlName="password" type="password" id="password" placeholder="Password" />
  </div>
  <div *ngIf="passwordControl.touched && passwordControl.hasError('required')" class="error">
    password is required
  </div>

  <br>
  <div class="input-container">
  <i class="fa fa-key icon"></i>
  <input formControlName="confirmPassword" type="password" id="confirm-password" placeholder="Confirm Password"/>
  </div>
  <div *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')" class="error">
    password is required
  </div>

  <div *ngIf="passwordControl.touched && confirmPasswordControl.touched && form.hasError('missmatch')" class="error">
    passwords do not match
  </div>
</div>
