
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 11px;
  }
  
  .icon {
    padding: 14px;
    background: lightgreen;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 10%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }